<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center><h1>Student Data</h1></center>
    <center>
        <table cellspacing="30px" >
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Address</th>
                <th>Maths</th>
                <th>English</th>
                <th>Science</th>
                <th>Sanskrit</th>
                <th>Evs</th>
                <th>Average Marks</th>
                <th>Total Marks</th>
                <th>Grade</th>
            </tr>
            <% for(var i=0;i< data.length;i++){%>
            <tr>
                <td><%=i+1%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].address%></td>
                <td><%=data[i].maths%></td>
                <td><%=data[i].english%></td>
                <td><%=data[i].science%></td>
                <td><%=data[i].sanskrit%></td>
                <td><%=data[i].evs%></td>
                <td><%=data[i].average%></td>
                <td><%=data[i].totalmarks%></td>
                <td><%=data[i].grade%></td>
            </tr>

            <%}%>
        </table>
    </center>
    <center>
        <a href="/add">
            <button>Add Student</button>
        </a>
    </center>

</body>
</html>